@import url('https://cdn.jsdelivr.net/gh/stpnwf/ZestyTheme@latest/theme.css');
:root {
  --accent: 6, 140, 120;
  --accent-off: 141, 141, 141;
  --dark: 20, 20, 20; 
  --darkest: 0, 0, 0; 
  --dark-highlight: 181, 181, 181;
  --dark-apparent: 43, 43, 43;
  --text-color: 255, 255, 255;
}

/* Hide "My Media" title and unwanted header buttons */
.itemExternalLinks,
.studiosGroup,
.emby-tabs-slider [data-index="2"],
.emby-tabs-slider [data-index="4"],
.emby-tabs-slider [data-index="5"],
.headerSyncButton,
.section0 .sectionTitle {
  display: none !important;
}

.backgroundContainer:not(.withBackdrop) {
  background-color: rgba(var(--dark), 1) !important;
}

.backgroundContainer.withBackdrop {
  background-color: rgba(var(--dark), 0.15) !important;
}

.layout-tv .backgroundContainer, .layout-desktop .backgroundContainer {
  background: none;
}
.noBackdropTransparency .detailPagePrimaryContainer, .noBackdropTransparency .detailPageSecondaryContainer {
  background-color: rgba(0,0,0,0) !important;
}

.trackSelections > *:nth-child(n + 3) {
  visibility: visible; 
}
.selectAudioContainer, .selectSubtitlesContainer {
  position: relative;
}

.layout-desktop h1.parentName {
  height: 2em;
}

.detailSectionContent .detail-clamp-text, .detailSectionContent .overview {
  font-size: 110% !important;
  margin-top: 0.4em;
  margin-bottom: 0em;
}

.trackSelections{
  margin-bottom: 0.2em;
}

#itemDetailPage .emby-select-withcolor:not([disabled]){
  background-color: rgba(var(--darkest), 0.2) !important;
  padding-right: 1em !important;
}

.trackSelections .selectContainer {
  width: 500px !important;
}

.detailPagePrimaryContainer {
  font-size: 110% !important;
}

#castCollapsible {
  order: 1;
}

@media (min-width: 120em) {
  .layout-desktop .overflowPortraitCard, .layout-desktop .overflowSquareCard {
    width: 9.41vw;
  }
}

.layout-desktop .nextUpSection {
  margin-top: 23vh !important;
}

.detailSectionContent .detail-clamp-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3 !important;
  overflow: hidden;
}

a.overview-expand.emby-button {
  font-size: 95%;
}

.button-link:not(.itemDetailPage .button-link),
.selectLabelFocused,
.textareaLabelFocused,
.inputLabelFocused,
.metadataSidebarIcon,
.upNextDialog-countdownText,
.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit,
.listItemImageButton:hover,
.button-flat:hover,
#divRunningTasks span,
.username,
.headerUsername,
.sectionTitle,
.navMenuOption:hover:not(.navMenuOption-selected) {
	color: var(--text-color) !important;
}

.headerTabs,
.headerRight
{
	color: var(--text-color) !important;
	border: 0.5em solid var(--dark-apparent) !important;
    background: var(--dark) !important;
    border-radius: 100px !important;
    backdrop-filter: blur(50px) !important;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25) !important;
}

.homeLibraryText, .emby-button-foreground {
  color: rgb(var(--dark-highlight));
}

.emby-tab-button-active > .emby-button-foreground {
  color: rgb(var(--text-color));
}

.emby-textarea {
    color: rgba(var(--text-color)) !important;
}

.emby-textarea:focus,
.emby-input:focus,
.emby-select-withcolor:focus {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: .16em solid rgba(var(--accent)) !important;
}

.emby-input, .emby-textarea, .emby-select-withcolor {
    border: .16em solid rgba(255, 255, 255, 0.1) !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.raised, .fab, a[data-role="button"] {
    color: rgba(var(--text-color), 1) !important;
}

body, h1, h2, h3, h4, .textActionButton, .emby-button-foreground {
    text-shadow: unset !important;
}

.raised:hover .homeLibraryText,
.emby-tab-button:hover .emby-button-foreground {
    color: rgb(var(--text-color)) !important;
    transition: 100ms;
}
